*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* reset */

body{
    font-family: 'Open Sans', sans-serif;
}

body > *{
    border: 1px solid red;
}

/* elementi comuni a tutta la pagina */
.container-big{
    margin: auto;

    max-width: 1200px;
}

.container{
    /* border: 1px solid black; */
    /* test */

    margin: 0px auto 50px;

    max-width: 1000px;
}

.btn{
    padding: 8px 16px;

    color: white;
    background-color: #0061FF;
}

a{
    text-decoration: none;
}
/* fine elementi comuni alla pagina */



/* sezione navbar */
nav{
    display: flex;
    justify-content: space-between;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;

    padding: 28px 18px;

    width: 100%;

    background-color: white;
}

nav > div{
    display: flex;
}

nav ul{
    display: flex;
    align-items: center;
    gap: 38px;

    list-style-type: none;
}

nav ul li a{
    color: #4A4A4A;
}

#start{
    margin-left: -20px;
}
/* fine sezione navbar */



/* sezione header */
header{
    margin-top: 30px;
    margin-bottom: 90px;

    background-color: #B4D0E7;
}

header .container-big{
    position: relative;
    bottom: -60px;
}

h1{
    margin-top: 105px;
    margin-bottom: 60px;

    font-size: 62px;
}

header .introduction{
    display: flex;
}

#introduction-text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 34px;

    width: 30%;

    /* transform: translateY(60px); */
}

#introduction-text .fa-solid{
    margin-top: calc(75px - 34px);
    /* margin-top - gap */

    font-size: 40px;
}

#introduction-image{
    width: 70%;

    /* transform: translateY(60px); */
}

#introduction-image img{
    width: 100%;
}
/* fine sezione header */



/* piani business */
#business-plans h2{
    margin-bottom: 70px;

    font-size: 32px;
}

#business-plans #check{
    margin-bottom: 50px;
}

.radio-text{
    margin-right: 48px;
}

#buy-options{
    display: flex;
    justify-content: space-between;

    margin-bottom: 50px;
}

.type-option{
    padding: 0 25px;

    width: calc(100% / 3 - 48px / 3 * 2);

    border: 1px solid #BEBAB8;
}

.type-option .type{
    padding: 15px;
    margin-bottom: 35px;

    text-align: center;

    border-bottom: 1px solid #BEBAB8;
}

.type-option h3{
    margin-bottom: 20px;
}

.type-option .price{
    margin-bottom: 18px;

    font-weight: bold;
    font-size: 14px;
}

.type-option .month{
    margin-bottom: 50px;

    color: #BEBAB8;
}

.type-option .info {
    display: flex;
    flex-direction: column;
    gap: 25px;

    margin-bottom: 50px;
}

.type-option .info div{
    display: flex;
    align-items: baseline;
    gap: 5px;
}

.type-option .btn{
    margin-bottom: 36px;

    text-align: center;
}

.type-option .buy{
    margin-bottom: 40px;
}

.type-option .buy a{
    text-decoration: underline;
}

hr{
    margin-bottom: 52px;

    width: 20%;

    color: #BEBAB8;
}

.type-option .highlights-plan{
    display: flex;
    flex-direction: column;
    gap: 30px;

    margin-bottom: 54px;
}

.type-option .highlights-plan div{
    display: flex;
    align-items: baseline;
    gap: 5px;
}

.type-option .highlights-plan .fa-solid{
    color: #0461FF;
}

#sell-office{
    padding: 0 30px;
    margin-bottom: 150px;

    border: 1px solid #BEBAB8;
}

#sell-office .mini-title{
    padding: 12px;
    margin-bottom: 45px;
    border-bottom: 1px solid #BEBAB8;

    text-align: center;
}

#sell-office .bot{
    display: flex;
    justify-content: space-between;
}

#sell-office .bot .left{
    width: 60%;
}

#sell-office .bot .left h3{
    margin-bottom: 18px;
}

#sell-office .bot .left h5{
    margin-bottom: 55px;
}

#sell-office .bot .left p{
    margin-bottom: 30px;
}
/* fine piani business */



/* seconda "trova un partner" */
.container .partnership{
    display: flex;

    margin-bottom: 165px;
}

.partnership .partner-image{
    width: 70%;
}

.partnership .partner-image img{
    width: 100%;
}

.partnership .partner-text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 35px;

    padding-top: 50px;
    padding-left: 55px;

    width: 30%;
}

.partnership .partner-text .btn{
    border: 1px solid black;

    text-align: center;

    color: black;
    background-color: white;
}
/* fine "trova un partner" */



/* terza sezione */
.third-section h2{
    margin-bottom: 20px;
}

.third-section{
    border: 1px solid black;
    /* test */
}

#business-description{
    display: flex;
    flex-wrap: wrap;
    gap: 90px 50px;

    margin-bottom: 50px;
}

#business-description .description{
    width: calc(100% / 3 - 50px / 3 * 2);
    height: 150px;
    border: 1px solid black;
    /* test */
}
/* fine terza sezione */



/* quarta sezione */
#designit{
    margin-bottom: 50px;
}

#designit #top{
    display: flex;
}

.container-small{
    width: calc(100vw / 3);
    height: calc(100vw / 3);
    border: 1px solid violet;
    /* test */

    display: flex;
    flex-wrap: wrap;
}

.container-small .company{
    width: 50%;
    height: 50%;
    border: 1px solid rgb(143, 9, 143);
    /* test */
}

#designit #bottom{
    padding: 60px;

    background-color: #B4D0E7;
}

#designit #bottom .free-period{
    border: 1px solid black;
    /* test */
    
    display: flex;
    justify-content: space-between;

    margin: auto;

    width: 1000px;
}
/* fine quarta sezione */



/* sezione domande frequenti */
.container.faq h3{
    margin-bottom: 70px;
}

.questions ul{
    list-style-type: none;
}

.questions ul li{
    border-bottom: 1px solid black;

    margin: 30px 0 30px;
}
/* fine sezione domande frequenti */



/* sezione footer */
footer{
    background-color: black;
    color: white;
}

footer .container-big{
    height: 570px;
    border: 1px solid green;
    /* test */
}

footer .footer-links{
    height: 250px;
    border: 1px solid red;
    /* test */

    margin: 100px 0 115px;
}

footer hr{
    width: 120px;
}

footer #language{
    margin-top: 50px;
}
/* fine sezione footer */



