*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* reset */

body > *{
    border: 1px solid red;
    /* background-color: rgba(100%, 0%, 0%, 0.2); */
}

/* elementi comuni a tutta la pagina */
.container-big{
    border: 1px solid green;
    /* test */

    margin: auto;

    width: 1200px;
}

.container{
    border: 1px solid black;
    /* test */

    margin: 0px auto 50px;

    width: 1000px;
}
/* fine elementi comuni alla pagina */



/* sezione navbar */
nav{
    display: flex;
    justify-content: space-between;

    position: fixed;
    top: 0;
    left: 0;

    width: 100%;

    background-color: white;
}

nav .links{
    width: 20%;
    height: 45px;
    border: 1px solid green;
    /* test */
}

nav .links ul{
    line-height: 45px;
    /* test */
    /* solo per centrare il testo, l'altezza del contenitore andrà poi eliminata */

    display: flex;
    justify-content: space-between;

    list-style-type: none;
}
/* fine sezione navbar */



/* sezione header */
header{
    margin-top: 47px;
    margin-bottom: 90px;

    background-color: #B4D0E7;
}

header .title{
    height: 170px;
    border: 1px solid purple;
    /* test */

    margin: 100px 0 75px;
}

header .introduction{
    height: 395px;
    border: 1px solid purple;
    /* test */

    display: flex;
}

#introduction-text{
    width: 30%;
    border: 1px solid rgb(80, 1, 80);
    /* test */
}

#introduction-image{
    border: 1px solid rgb(80, 1, 80);
    /* test */

    flex-grow: 1;

    transform: translateY(40px);
}
/* fine sezione header */



/* prima sezione */
.container.first-section{
    display: flex;
    flex-direction: column;
    gap: 30px;

    padding: 20px;
}

#buy-options{
    display: flex;
}

#buy-options .type-option{
    width: calc(100% / 3);
    height: 300px;
    border: 1px solid black;
    /* test */
}

#sell-office{
    width: 100%;
    height: 50px;
    border: 1px solid black;
    /* test */
}
/* fine prima sezione */



/* seconda sezione */
.container.second-section{
    display: flex;

    padding: 20px;
}

.second-section .partner-image{
    height: 500px;
    border: 1px solid black;
    /* test */

    flex-grow: 1;
}

.second-section .partner-text{
    border: 1px solid black;
    /* test */

    width: 30%;
}
/* fine seconda sezione */



/* terza sezione */
.container.third-section{
    padding: 20px;
}

.third-section h2{
    margin-bottom: 20px;
}

.third-section{
    border: 1px solid black;
    /* test */
}


#business-description{
    display: flex;
    flex-wrap: wrap;

    margin-bottom: 50px;
}

#business-description .description{
    width: calc(100% / 3);
    height: 150px;
    border: 1px solid black;
    /* test */
}
/* fine terza sezione */



/* quarta sezione */
#designit{
    margin-bottom: 50px;
}

#designit #top{
    display: flex;
}

.container-small{
    width: calc(100% / 3);
    height: 360px;
    border: 1px solid violet;
    /* test */

    display: flex;
    flex-wrap: wrap;
}

.container-small .company{
    width: calc(100% / 2);
    height: 50%;
    border: 1px solid rgb(143, 9, 143);
    /* test */
}

#designit #bottom{
    padding: 60px;

    background-color: #B4D0E7;
}

#designit #bottom .free-period{
    border: 1px solid black;
    /* test */
    
    display: flex;
    justify-content: space-between;

    margin: auto;

    width: 1000px;
}
/* fine quarta sezione */



/* sezione domande frequenti */
.container h3{
    margin-bottom: 70px;
}

.questions ul{
    list-style-type: none;
}

.questions ul li{
    border-bottom: 1px solid black;

    margin: 30px 0 30px;
}
/* fine sezione domande frequenti */



/* sezione footer */
footer{
    background-color: black;
    color: white;
}

footer .container-big{
    height: 570px;
    /* test */
}

footer .footer-links{
    height: 250px;
    border: 1px solid red;
    /* test */

    margin: 100px 0 115px;
}

footer hr{
    width: 120px;
}

footer #language{
    margin-top: 50px;
}
/* fine sezione footer */



